@import './../../variables.scss';

.auth-pages {
    nav {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        background-color: #202528;

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            h1 {
                font-size: 26px;
                color: $color-primary;

                span {
                    color: #fff;
                }
            }

            img {
                height: 60px;
            }
        }

        .links {
            display: none;
            gap: 15px;

            li {
                list-style: none;
            }
        }

        .auth {
            display: none;
            gap: 20px;

            li {
                list-style: none;
            }
        }

        .hamburger {
            .hamburger-toggler {
                z-index: 2;
                background-color: transparent !important;
                font-size: 30px;
                color: #fff;
            }

            .hamburger-links {
                z-index: 1;
                position: fixed;
                display: none;
                background-color: #202528;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;

                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 30px;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    li {
                        list-style: none;
                    }
                }

                .close {
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    font-size: 30px;
                    color: #fff;
                    cursor: pointer;
                    background-color: transparent;
                }
            }

            &[data-open='true'] {
                .hamburger-links {
                    display: flex;
                }
            }
        }

        a {
            text-decoration: none;
            color: #fff;
            font-weight: 900;
            transition: all 0.3s ease;

            &:hover {
                color: $color-primary;
            }

            &.special {
                background-color: $color-primary;
                padding: 10px 20px;
                border-radius: $border-radius;
                transition: all 0.3s ease;

                &:hover {
                    color: #fff;
                    background-color: $color-primary-variant;
                }
            }
        }

        .lang-dropdown {
            position: relative;
            display: inline-block;

            .current-lang {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                padding: 0 20px 0 10px;
                color: #fff;

                img {
                    height: 20px;
                }
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                padding: 5px 10px;
                z-index: 1;
                right: 0;
                border-radius: $border-radius;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: transparent;
                    border: none;
                    border-radius: 0;
                    padding: 10px;
                    width: 100%;
                    gap: 15px;
                    transition: all 0.3s ease;

                    img {
                        height: 20px;
                    }

                    &:hover {
                        background-color: #eee;
                    }
                }
            }

            &:hover {
                .dropdown-content {
                    display: block;
                }

            }
        }

        @media screen and (min-width: 768px) {
            .links {
                display: flex;
            }

            .auth {
                display: flex;
            }

            .hamburger {
                display: none;
            }
        }
    }

    section#login,
    section#reset-password,
    section#register {

        display: flex;
        justify-content: center;
        align-items: center;

        height: 100vh;

        .container {
            background-color: var(--color-white);
            box-shadow: var(--box-shadow);
            padding: 10px 25px;
            border-radius: 15px;
            color: #000;
            width: 40%;

            @media screen and (max-width: 1100px) {
                width: 80%;
            }

            @media screen and (max-width: 768px) {
                width: 95%;
            }

            header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 20px 0;
                color: var(--color-dark);

                img {
                    margin: 20px 0;
                    border-radius: 50%;
                    height: 100px;
                }

                h1 {
                    padding: 30px 0;
                }
            }

            main {

                form {


                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    .form-group {
                        position: relative;

                        label {
                            position: absolute;
                            top: 50%;
                            left: 10px;
                            transform: translateY(-50%);
                            padding: 5px;
                            color: var(--color-dark);
                            transition: all 0.3s ease;
                            pointer-events: none;
                            background-color: #fff;
                            background-color: var(--color-white);
                        }

                        input {
                            width: 100%;
                            padding: 10px;
                            border: 1px solid #000;
                            border-radius: 5px;
                            outline: none;
                            transition: all 0.3s ease;
                            border-color: #949494;
                            color: var(--color-dark);
                            background-color: var(--color-white);
                            cursor: text;
                        }

                        input:not(:placeholder-shown)+label,
                        input:focus+label {
                            top: 0px;
                            left: 5px;
                            color: #2892D7;
                            font-size: 12px;
                        }

                        input:not(:placeholder-shown),
                        input:focus {
                            border-color: #2892D7;
                        }

                        input:invalid+label {
                            color: red;
                        }

                        input:invalid {
                            border-color: red;
                        }
                    }

                }

            }

            footer {

                display: flex;
                flex-direction: column;

                padding: 20px 0;
                color: var(--color-dark);

                input[type=submit] {
                    padding: 15px 0;
                    border: none;
                    outline: none;
                    border-radius: 5px;
                    background-color: $color-primary;
                    letter-spacing: 1px;
                    font-weight: bold;
                    transition: all 0.4s ease-in-out;
                    cursor: pointer;
                    color: #fff;

                    &:hover {
                        background-color: #227cb9;
                    }
                }

                span {
                    text-align: center;
                    padding: 10px 0;
                }

            }
        }

    }

    > footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        color: #fff;
        padding: 20px;
        text-align: center;
        background-color: #202528;

        .block {
            h3 {
                color: #fff;
            }

            ul {
                li {
                    list-style: none;

                    a {
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        @media screen and (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;
            padding: 50px;
        }
    }
}