@import './../../variables.scss';

section#dashboard {

    // Mobile devices
    &>aside {

        &[data-toggle="true"] {
            position: fixed;
        }

        &[data-toggle="false"] {
            display: none;
        }

        z-index: 1000;
        width: calc(100% - 30px) !important;
        max-width: 100% !important;
        border-radius: 20px;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        padding: 25px;
        transition: all 0.4s ease-in-out;
        box-shadow: var(--box-shadow);
        white-space: nowrap;
        height: calc(100% - 30px);


        .top {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--color-dark);

            img {
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }

            .right {
                display: flex;
                flex-direction: column;
            }
        }

        .settings {
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: space-around;

            padding-bottom: 25px;
            border-bottom: $color-primary 1px solid;
        }

        .content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: var(--color-dark);

            // align-items: center;

            .conversations {
                display: flex;
                flex-direction: column;
                gap: 5px !important;

                .conversation {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    border-radius: 10px;
                    padding: 5px 10px;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
    
                    &:hover {
                        img {
                            border-radius: 15px;
                        }
                    }
    
                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        transition: all 0.2s ease-in-out;
                    }
    
                    .right {
                        display: flex;
                        flex-direction: column;
                        flex-grow: 1;
                        max-width: calc(100% - 50px);
    
                        .name {
                            font-weight: bold;
                        }
    
                        .message {
                            text-decoration: none;
                            text-overflow: ellipsis;
                            display: block;
                            overflow: hidden;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        .bottom {

            margin: 30px 0;
            padding-top: 25px;
            border-top: $color-primary 1px solid;

            display: flex;
            align-items: center;
            justify-content: center;


        }

        button.btn-type-2 {

            display: flex;
            align-items: center;
            justify-content: center;

            width: 75%;
            height: 35px;
            border-radius: $border-radius;
            background: $color-primary;
            border: none;
            cursor: pointer;

            color: var(--color-white) !important;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: darken($color-primary, 10%);
            }
        }
    }

    // Desktop devices
    &>aside {

        @media screen and (min-width: 769px) {
            position: relative !important;
            height: 100%;

            &[data-toggle="true"] {
                width: 30% !important;
                max-width: 300px;
            }

            &[data-toggle="false"] {
                display: flex;
                width: 100px !important;

                .top {
                    .right {
                        display: none !important;
                    }
                }

                .settings {
                    flex-direction: column !important;
                    gap: 5px;
                }

                .content {

                    .conversations {
                        align-items: center;
                        justify-content: center;
    
                        .conversation {
                            padding: 0 !important;
                            gap: 0 !important;
    
                            .right {
                                span {
                                    display: none !important;
                                }
                            }
                        }
                    }
                }

                .bottom {
                    padding: 25px 0 0 0 !important;


                }

                button.btn-type-2 {
                    padding: 0;

                    svg {
                        rotate: 180deg !important;
                    }
                }
            }
        }

    }
}