@import './../../variables.scss';

section#chat {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    color: #000;

    header {
        width: 100%;
        height: 10vh;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow);
        transition: 0.4s ease-in-out;
        z-index: 1;
        padding: 0 50px;
        border-radius: $border-radius;

        color: var(--color-dark);

        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {

            display: flex;
            align-items: center;
            gap: 20px;

            img {
                height: 60px;
                width: 60px;
                border-radius: 50%;
            }

            .right {
                display: flex;
                flex-direction: column;

                .name {
                    font-weight: bold;
                }
            }
        }

        .actions {
            display: flex;
            gap: 5px;

            [data-open-aside] {
                display: none;
            }

            @media screen and (max-width: 768px) {
                [data-open-aside] {
                    display: block;
                }
            }

            .dropdown-button {
                position: relative;
                .dropdown-menu {
                    &[dropdown-menu="false"]{
                        display: none;
                    }
                    &[dropdown-menu="true"]{
                        display: block;
                    }
                    position: absolute;
                    top: 125%;
                    right: 0;
                    background-color: var(--color-white-darken);
                    box-shadow: var(--box-shadow);
                    border-radius: 20px;
                    padding: 10px 0;
                    min-width: 200px;
                    flex-direction: column;
                    gap: 10px;
                    z-index: 1;

                    .dropdown-item {
                        // padding: 10px 20px;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;
                        color: var(--color-dark);
                        border-radius: 20px;

                        &:hover {
                            background-color: $color-primary;
                        }
                    }
                }
            }
        }
    }

    main {
        flex: 1;
        overflow-y: scroll;
        background-color: var(--color-white);

        box-shadow: var(--box-shadow);

        padding: 25px;

        border-radius: $border-radius;

        transition: 0.4s ease-in-out;

        &::-webkit-scrollbar {
            display: none;
        }

        .messages {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 100% !important;

            .message {
                display: flex;
                justify-content: flex-start;
                margin-top: 10px;

                width: 100%;


                &.me {
                    justify-content: flex-end;

                    .message-inner {
                        flex-direction: row-reverse;
                        .message-body {

                            & > div {
                                .message-actions-container {
                                    right: 105%;
                                }
                            }

                            .reactions {
                                justify-content: flex-start;
                            }
                            .message-content {
                                background-color: $color-primary;
                                border-bottom-left-radius: 10px;
                                border-bottom-right-radius: 0;
                            }
                        }

                        .message-footer {
                            justify-content: flex-start;
                            .message-sender {
                                display: none;
                            }
                        }
                    }
                }

                &.participant {
                    .message-body {
                        & > div {
                            flex-direction: row-reverse;

                            .message-actions-container {
                                left: 105%;
                            }
                        }
                    }
                    .message-footer {
                        .message-status {
                            display: none;
                        }
                    }
                }

                &.not-last {
                    margin-left: 130px;
                    margin-right: 0;
                    img {
                        display: none;
                    }
                    .message-body {
                        .message-content {
                            border-bottom-left-radius: 10px !important;
                            border-bottom-right-radius: 10px !important;
                        }
                    }
                    .message-footer {
                        .message-date,
                        .message-sender {
                            display: none;
                        }
                    }
                }

                &.not-last.me {
                    margin-left: 0;
                }

                .message-inner {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    max-width: 90%;

                    img {
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                    }

                    .message-body {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        color: var(--color-dark);

                        & > div {
                            position: relative;
                        }

                        .reactions {
                            display: flex;
                            gap: 5px;
                            margin-top: 3px;
                            span {
                                padding: 5px 10px;
                                border-radius: 20px;
                                background-color: var(--color-white-darken);
                                color: var(--color-dark);
                                cursor: pointer;
                                font-size: 13px;
                                svg {
                                    font-size: 10px;
                                }
                                &.reacted {
                                    background-color: lighten($color-primary, 10%);
                                }
                            }
                        }

                        .message-content {
                            padding: 10px 15px;
                            border-radius: 10px;
                            background-color: darken($color-primary, 10%);
                            color: #FFF;
                            min-width: 250px;
                            max-width: 600px;
                            border-bottom-left-radius: 0;
                            white-space: pre-wrap;
                            word-wrap: break-word;

                            span {
                                padding: 0;
                                vertical-align: top;
                            }

                            svg.icon {
                                font-size: 10px;
                                color: #ccc;
                            }
                        }

                        .emojis-container {
                            width: 250px;
                            display: flex;
                            .emoji {
                                font-size: 1.8rem;
                            }
                        }

                        .message-footer {
                            display: flex;
                            width: 100%;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 13px;
                        }

                        .message-status {
                            height: 12.5px;
                            width: 12.5px;
                            border-radius: 50%;
                            transition: all 0.3s ease-in-out;
                            &.sending {
                                background: transparent;
                                border: 1px solid $color-primary;
                            }
                            &.sended {
                                position: relative;
                                background: $color-primary;
                                
                                &:after {
                                    content: '✓';
                                    position: absolute;
                                    top: 50%; left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: var(--color-white);
                                    font-size: 7.5px;
                                }
                            }
                            &.seen {
                                background-color: transparent;
                                line-height: 10px;
                            }
                        }
                    }
                }

                &.me {
                    .emojis-container {
                        justify-content: flex-end;
                    }
                }

                .message-actions-container {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    display: none;
                    align-items: center;
                    z-index: 999999;

                    .message-actions {
                        position: relative;
                        padding: 10px 15px;
                        margin-bottom: 5px;
                        border-radius: 20px;
                        gap: 10px;
                        background-color: var(--color-white-darken);
                        color: var(--color-dark);
                        font-size: 12px;

                        svg {
                            cursor: pointer;
                            &:hover {
                                color: $color-primary;
                            }

                            &.selected {
                                color: $color-primary;
                            }
                        }

                        .emoji-container {
                            .emoji {
                                position: fixed;
                                z-index: 10000;
                                transform-origin: top left;

                                em-emoji-picker {
                                    height: 350px;
                                }
                            }

                        }
                    }
                    &.active {
                        display: flex !important;
                    }

                    &.disabled {
                        display: none !important;
                    }
                }

                &:hover {
                    .message-actions-container {
                        display: flex !important;

                        &.disabled {
                            display: none !important;
                        }
                    }
                }
            }

            
        }

        .react-icons {
            z-index: 999;
            position: absolute;
            background-color: #00000056;
            width: 100%; height: 100%;
            top: 0; left: 0;
            & > div {
                position: absolute;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                z-index: 99999;
            }
        }
    }

    footer {
        transition: 0.4s ease-in-out;
        width: 100%;
        padding: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .file {
            width: 100%;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .input-file {
                height: 100%;
                padding: 10px;
                position: relative;
    
                img {
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

                .close {
                    position: absolute;
                    top: 12.5px; right: 12.5px;
                    z-index: 10000;
                    cursor: pointer;
                    transition: 0.2s ease-in-out;

                    &:hover {
                        color: $color-danger;
                    }
                }
            }

        }

        .writter {
            transition: 0.4s ease-in-out;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            gap: 10px;
            .textarea-container {
                align-items: center;
                justify-content: center;
                position: relative;
                display: flex;
                flex-grow: 1;
    
                .absolute {
                    position: absolute;
                    top: 50%; right: 0;
                    transform: translateY(-50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
    
                    .warning {
                        color: $color-warning;
                    }
    
                    .danger {
                        color: $color-danger;
                    }
    
                    .emoji-mart-emoji {
                        cursor: pointer;
                        margin-right: 10px;
                    }
    
                    .emoji {
                        position: relative;
    
                        .writter-emoji {
                            position: absolute;
                            bottom: 150%; right: 50%;
                        }
                    }
                }
            }
    
            textarea {
    
                min-height: 40px;
                height: 40px;
                max-height: 150px;
                font-size: 15px;
    
                width: 100%;
    
                flex: 1;
                resize: none;
                overflow-y: hidden;
                border: none;
                outline: none;
                background: transparent;
                color: var(--color-dark);
                border-radius: 20px;
    
                padding: 10px 125px 10px 20px;
    
                background-color: var(--color-white);
                box-shadow: var(--box-shadow);
    
            }
        }

    }
}

section#no-group-yet {
    flex-grow: 1;
}