@import './../variables.scss';

div.modal#profile {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%; width: 100%;
    top: 0; left: 0;
    z-index: 9999;

    .modal-background {
        position: absolute;
        height: 100%; width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0; left: 0;
        z-index: -1;
    }

    .modal-content {
        display: flex;
        flex-direction: column;
        height: auto; width: 50%;
        background-color: var(--color-white);
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        padding:10px;

        @media screen and (max-width: 900px) {
            width: 90%;
        }

        header {
            position: relative;
            .background-cover {
                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                }
            }

            .profile-picture {
                position: absolute;
                top: 60%;
                left: 5%;
                img {
                    position: relative;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    z-index: 1;
                    background-color: var(--color-white);
                    padding: 8px;
                }
            }
        }

        main {
            flex: 1;
            display: flex;
            flex-direction: column;
            color: var(--color-dark);
            padding: 15px 30px;
        }

        footer {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            padding: 10px 30px;
            border-top: 1px solid var(--color-grey);
            button {
                padding: 10px 20px;
                border-radius: 10px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: background-color 0.3s ease-in-out;
                background-color: $color-primary;
                color: #fff;
                &:hover {
                    background-color: darken($color-primary, 10%);
                }
            }
        }
    }
}