@import './../../variables.scss';

section.public {

    background-color: #202528;
    display: flex;
    flex-direction: column;

    @include public-nav;

    &.homepage {
        main {
            min-height: 80vh;
            flex-grow: 1;
    
            section#hero {
                padding: 50px 20px;
                color: #fff;
    
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                
                h1 {
                    text-align: center;
                    font-size: 40px;
                    color: #fff;
                    padding-bottom: 35px;
                }
    
                p {
                    text-align: center;
                    width: 75%;
                }

                @media screen and (min-width: 768px) {
                    padding: 100px 90px;
                }
            }
    
            section.block {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 50px 50px;
                background-color: #eee;
    
                &:nth-child(odd) {
                    background-color: #fff;
                }
    
                .text {
                    display: flex;
                    flex-direction: column;
    
                    h2 {
                        padding-bottom: 20px;
                        color: #202528;
                    }
                }
    
                img {
                    width: 100%
                }
    
                @media screen and (min-width: 968px) {
                    flex-direction: row;
                    &:nth-child(odd) {
                        flex-direction: row-reverse;
                    }
                }
            }
    
        }
    }

    &.blog {

        &.blog-modal-open {
            overflow: hidden !important;
        }

        main {
            min-height: 80vh;
            flex-grow: 1;
            padding: 30px;
            background-color: #eee;
    
            #blog {
                h1 {
                    font-size: 30px;
                    padding-bottom: 20px;
                    border-bottom: 2px solid #202528;
                    color: #000;
                }
    
                .filters {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
    
                    margin: 20px 0;
    
                    button {
                        color: #fff;
                    }
                }
    
            }
    
            .posts-container {
                display: flex;
                flex-direction: column;
                margin-top: 20px;
                gap: 20px;
    
                .post {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    width: 100%;
                    padding-bottom: 20px;
                    border-bottom: 2px solid #6d6d6d;
    
                    .post-thumbnail {
                        
                        width: 100%;
                        object-fit: cover;
                        border-radius: $border-radius;
                    }
    
                    .post-preview {
    
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        h2 {
                            color: #181a1e;
                        }
    
                        .btn {
                            background-color: $color-primary;
                            padding: 10px 20px;
                            border-radius: $border-radius;
                            transition: all 0.3s ease;
                            color: #fff;
                            text-decoration: none;
    
                            &:hover {
                                background-color: $color-primary-variant;
                            }
                        }
                    }
    
                    @media screen and (min-width: 768px) {
                        flex-direction: row;
                        align-items: center;
    
                        .post-thumbnail {
                            width: 15%;
                        }
    
                        .post-preview {
                            justify-content: space-between;
                            align-items: start;
                        }
                    }
                }
            }
    
            section.post {
    
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
    
                .post-title {
                    text-align: center;
                    padding: 20px 0;
                    font-size: 5vh;
                    color: #181a1e;
                }
    
                .post-thumbnail {
                    width: 100%;
                    border-radius: $border-radius;
                }
    
                .post-content {
                    width: 90%;
                }
    
                .post-back {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
    
                    &.bottom {
                        justify-content: center;
                    }
                }
    
                .post-image {
                    border-radius: $border-radius;
                    width: 100%;
                    max-height: 300px;
                }
    
                @media screen and (min-width: 768px) {
                    .post-thumbnail {
                        height: 50%;
                        
                    }
    
                    .post-content {
                        width: 50%;
                    }
    
                    .post-image {
                        border-radius: $border-radius;
                        width: auto !important;
                        height: 300px;
                    }
                }
            }
    
        }
    }

    &.careers {

        main {
            min-height: 80vh;
            flex-grow: 1;
            padding: 30px;
            background-color: #eee;
    
            #careers {
                h1 {
                    font-size: 30px;
                    padding-bottom: 20px;
                    border-bottom: 2px solid #202528;
                    color: #000;
                }
    
                .filters {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
    
                    margin: 20px 0;
    
                    button {
                        color: #fff;
                    }
                }
    
            }
    
            .jobs-container {
                display: flex;
                flex-direction: column;
    
    
                .category {
    
                    h2 {
                        color: #23272a !important;
                        font-size: 30px;
                        font-weight: 800;
                    }
    
                    .jobs {
                        display: grid;
                        grid-template-rows: auto;
                        grid-template-columns: 1fr;
                        gap: 25px;
                        .job {
                            background-color: #fff;
                            border-radius: 16px;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-start;
                            padding: 24px;
                            text-decoration: none;
                            transition: all .2s;
                            display: flex;
                            position: relative;
                            box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
                            transition: 0.4s ease-in-out;
                            cursor: pointer;
                            &:hover {
                                box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
                            }
                        }
    
                        @media screen and (min-width: 768px) {
                            grid-template-columns: 1fr 1fr;
                        }
    
                        @media screen and (min-width: 968px) {
                            grid-template-columns: 1fr 1fr 1fr;
                        }
                    }
                }
            }
    
    
        }

        .modal {
            position: fixed !important;
            z-index: 99;
    
            display: flex;
            align-items: center;
            justify-content: center;
            
            .backdrop {
                position: absolute !important;
                top: 0; left: 0;
                background-color: rgba(0, 0, 0, 0.329);
                height: 100%;
                width: 100%;
            }
    
            .content {
                z-index: 100;
                background-color: rgb(255, 255, 255);
                border-radius: 16px;
                padding: 20px 40px;
                width: 90%;
                h2 {
                    padding-bottom: 10px;
                }
                .title {
                    font-weight: 900;
                    padding-top: 10px;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        padding-left: 30px;
                    }
                }
    
                .actions {
                    padding-top: 20px;
                    display: flex;
                    gap: 10px;
                    justify-content: flex-end;
                }
    
                @media screen and (min-width: 768px){
                    width: 75%;
                }
            }
        }
    }

    &.privacy,
    &.terms {
        main {
            padding: 50px;
            background-color: #eee;
        }

        @media screen and (min-width: 968px){
            main {
                padding: 50px 250px;
            }
        }
    }

    @include public-footer;

}