@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');

@import './variables.scss';

*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    height: 100vh;
    // padding: 15px;
    background-color: var(--color-background);
    font-family: 'Alef', sans-serif;

    #root {
        height: 100vh;
    }
}

.rounded-button {

    color: var(--color-white);
    transition: background-color 0.3s ease-in-out;

    background-color: $color-primary;
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    &:hover {
        background-color: darken($color-primary, 10%);
    }

    svg {
        height: 20px;
        width: 20px;
    }

    &.small {
        svg {
            height: 13px;
            width: 13px;
        }
    }

}

body.easter {
    transition: all 2s ease-in-out;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;

        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    &::before {
        position: absolute;
        content: var(--easter-image);
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000;
    }


}

.modal {

    position: absolute;
    top: 0; left: 0;
    height: 100vh; width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .modal-backdrop {
        position: fixed;
        top: 0; left: 0;
        width: 100% !important; height: 100vh !important;
        background-color: rgba(0, 0, 0, 0.5) !important;
        z-index: 999;
    }
}

.modal:not(#profile):not(#searchModal) {

    position: absolute;
    top: 0; left: 0;
    height: 100vh; width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;


    .modal-content {
        z-index: 1000;
        background-color: var(--color-white);
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 500px;
        max-height: 100vh;
        overflow-y: auto;
    }
}

.modal#searchModal {

    align-items: flex-start !important;
    padding: 10vh 0 !important;

    .modal-content {
        width: 80%;
        z-index: 9999;
        display: flex;
        flex-direction: column;

        .input-search {

            font-weight: 800;

            input {
                padding: 15px;
                font-size: 18px;
            }

        }

        .results {

            background-color: var(--color-background);
            color: var(--color-dark);
            margin-top: 10px;
            border-radius: 8px;

            h2 {
                padding: 15px 15px 0 15px;
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    cursor: pointer;
                    padding: 15px 15px 10px 15px;
                    list-style: none;
                    border-bottom: 1px solid var(--color-dark);
                    &:last-child {
                        border-bottom: none;
                    }
                    &:hover {
                        background-color: var(--color-white-lighten);
                    }
                }
            }

        }
    }

}

.notifications {
    background-color: var(--color-white-lighten);
    padding: 10px 20px;
    border-radius: 8px;
    min-width: 500px;
    max-width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--color-dark);
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--color-dark-variant);

        svg {
            cursor: pointer;
            transition: 0.2s ease-in-out;
            &:hover {
                color: $color-primary;
            }
        }
    }

    main {
        padding: 10px 0;
    }

    footer {
        display: flex;
        gap: 10px;
    }
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000;
    color: var(--color-dark);
    background-color: var(--color-white);
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    border-color: #949494;
    cursor: text;
}

textarea:focus + label,
textarea:not(:placeholder-shown) + label,
input:not(:placeholder-shown) + label,
input:focus + label {
    top: 0px;
    left: 5px;
    color: #2892D7;
    font-size: 12px;
}

textarea:focus,
textarea:not(:placeholder-shown),
input:not(:placeholder-shown),
input:focus {
    border-color: #2892D7;
}

input:invalid + label {
    color: red;
}

input:invalid {
    border-color: red;
}

.form-group {
    position: relative;
    margin: 20px 0;

    .charCount {
        position: absolute;
        bottom: -17.5px; right: 0;
        color: var(--color-dark);
    }

    label {
        position: absolute;
        top: 50%; left: 10px;
        transform: translateY(-50%);
        padding: 5px;
        color: var(--color-dark);
        transition: all 0.3s ease;
        pointer-events: none;
        background-color: var(--color-white);
    }

    textarea {
        resize: none;
        width: 100%;
    }

    textarea,
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid #000;
        color: var(--color-dark);
        background-color: var(--color-white);
        border-radius: 5px;
        outline: none;
        transition: all 0.3s ease;
        border-color: #949494;
        cursor: text;
    }

    textarea:focus + label,
    textarea:not(:placeholder-shown) + label,
    input:not(:placeholder-shown) + label,
    input:focus + label {
        top: 0px;
        left: 5px;
        color: #2892D7;
        font-size: 12px;
    }

    textarea:focus,
    textarea:not(:placeholder-shown),
    input:not(:placeholder-shown),
    input:focus {
        border-color: #2892D7;
    }

    input:invalid + label {
        color: red;
    }

    input:invalid {
        border-color: red;
    }
}

.modal-images {
    position: absolute;
    top: 0; left: 0;
    height: 100vh; width: 100%;
    z-index: 10000;

    display: flex;
    align-items: center;
    justify-content: center;

    .background-overlay {
        position: absolute;
        top: 0; left: 0;
        height: 100vh; width: 100%;
        background-color: #00000080;
        z-index: 9999;
    }

    .content {
        position: relative;
        background-color: var(--color-dark);
        padding: 5px;
        border-radius: 8px;
        z-index: 9999;
        width: 95%;
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;

        .close {
            position: absolute;
            top: 15px; right: 15px;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .bottoms {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 15px;
            bottom: 20px;
        }

        .buttons {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%; left: 0;
            padding: 0 15px;
            top: 50%;
            transform: translateY(-50%);
            background-color: red;
            svg {
                font-size: 2.5rem;
                cursor: pointer;
                background-color: var(--color-dark);
                border-radius: 50px;
            }
        }

        img {
            height: 100% !important;
            object-fit: contain;
            width: 100%;
            user-select: none;
        }
    }


}

button {
    background-color: $color-primary;
    color: var(--color-dark);
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    outline: none;
    border: none;

    &:hover {
        background-color: darken($color-primary, 10%);
    }

    &.warning {
        background-color: $color-warning;
        &:hover {
            background-color: darken($color-warning, 10%);
        }
    }

    &.danger {
        background-color: $color-danger;
        &:hover {
            background-color: darken($color-danger, 10%);
        }
    }


}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-dark);
}

.jce {
    justify-content: flex-end !important;
}

.loading {
    width: 100%;
    height: 7.5vh;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 40px;
        height: 40px;

        div {
            position: absolute;

            display: flex;
            align-items: center;
            justify-content: center;

            width: 32px;
            height: 32px;
            border: 2px solid var(--color-dark);
            border-radius: 50%;
            animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: var(--color-dark) transparent transparent transparent;

            &:nth-child(1) {
                animation-delay: -0.45s;
            }

            &:nth-child(2) {
                animation-delay: -0.3s;
            }

            &:nth-child(3) {
                animation-delay: -0.15s;
            }
        }

        @keyframes loader {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
        }
    }
}

.clickable {
    cursor: pointer !important;
}

.text-center {
    text-align: center !important;
}

.text-muted {
    color: var(--color-muted);
}

.text-dark {
    color: var(--color-dark);
}

.text-white {
    color: var(--color-white);
}

span.text-muted {
    font-size: 13px;
}

.transparent {
    background-color: transparent !important;
}

.d-none {
    display: none !important;
}

.h-100 {
    height: 100vh;
}

.aic {
    align-items: center;
}

.d-flex {
    display: flex;
}

.f-c {
    flex-direction: column;
}

.jce {
    justify-content: end;
}

.g-10 {
    gap: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-30 {
    margin-bottom: 30px !important;
}

$gap: (
    '5': 5,
    '10': 10,
    '15': 15,
    '20': 20,
    '25': 25,
    '30': 30,
);


@each $size, $value in $gap {
    .g-#{$size} {
        gap: #{$value}px !important;
    }
}

// array of values 
$sizes: (
    '0': 0,
    '1': .25,
    '2': .5,
    '3': 1,
    '4': 1.5,
    '5': 3,
);

$sides: (
    't': 'top',
    'b': 'bottom',
    'l': 'left',
    'r': 'right'
);

$spacer: 16px;

@each $size, $value in $sizes {
    .p-#{$size} {
        padding: $spacer * $value !important;
    }
    .m-#{$size} {
        margin: $spacer * $value !important;
    }

    .px-#{$size} {
        padding-left: ($spacer * $value) !important;
        padding-right: ($spacer * $value) !important;
    }

    .mx-#{$size} {
        margin-left: ($spacer * $value) !important;
        margin-right: ($spacer * $value) !important;
    }

    .py-#{$size} {
        padding-top: ($spacer * $value) !important;
        padding-bottom: ($spacer * $value) !important;
    }

    .my-#{$size} {
        margin-top: ($spacer * $value) !important;
        margin-bottom: ($spacer * $value) !important;
    }

    @each $side, $vl in $sides {
        .p#{$side}-#{$size} {
            padding-#{$vl}: $spacer * $value !important;
        }

        .m#{$side}-#{$size} {
            margin-#{$vl}: $spacer * $value !important;
        }
    }
}